NodeRed_complete_config.txt
[{"id":"186ee436.0d1ddc","type":"function","z":"cb9a9294.2d177","name":"Ask Google Geolocation API","func":"var google_apikey = \"YOUR_APIKEY\";\nvar dev_url = \"https://www.googleapis.com/geolocation/v1/geolocate?key=\"+google_apikey;\n\nvar data = {\n            \"considerIp\": \"false\",\n            \"wifiAccessPoints\": []\n            };\n\nif (msg.payload.mac_1) {\n\tdata[\"wifiAccessPoints\"][0] = {\n\t\t\t\t\"macAddress\": msg.payload.mac_1,\n\t\t\t\t\"signalStrength\": msg.payload.rssi_1\n\t\t\t\t};\n}\n\nif (msg.payload.mac_2) {\n\tdata[\"wifiAccessPoints\"][1] = {\n\t\t\t\t\"macAddress\": msg.payload.mac_2,\n\t\t\t\t\"signalStrength\": msg.payload.rssi_2\n\t\t\t\t};\n}\n\nif (msg.payload.mac_3) {\n\tdata[\"wifiAccessPoints\"][2] = {\n\t\t\t\t\"macAddress\": msg.payload.mac_3,\n\t\t\t\t\"signalStrength\": msg.payload.rssi_3\n\t\t\t\t};\n}\n\nvar msg = {\n            \"method\" : \"POST\",\n            \"url\" : dev_url,\n            \"headers\" : {\n                        \"Content-Type\": \"application/json\"\n                        },\n            \"payload\" : JSON.stringify(data)\n            };\n\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":150,"wires":[["def77807.1220d8"]]},{"id":"53a8d0f9.54453","type":"function","z":"cb9a9294.2d177","name":"Convert to GPS-json","func":"var msg1 = {};\n\nif (msg.payload.location) {\n\n    msg1.payload = msg.payload;\n    msg1.payload.date = Date().toString();\n    msg1.payload.lon = msg.payload.location.lng;\n    msg1.payload.lat = msg.payload.location.lat;\n\n    // processed with Google\n    if (msg.payload.accuracy) {\n        msg1.payload.radius = msg.payload.accuracy;\n        delete msg1.payload.accuracy;\n    }\n    \n    // processed with HERE\n    if (msg.payload.location.accuracy) {\n        msg1.payload.radius = msg.payload.location.accuracy;\n    }\n\n    delete msg1.payload.location;\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":1075,"y":105,"wires":[["566d5eee.94558"]]},{"id":"a6847e22.32d7a","type":"function","z":"cb9a9294.2d177","name":"Convert to TrackLine","func":"var msg1 = {};\nif (msg.payload) {\n    msg1.payload = msg.payload;\n\n    msg1.payload.layer = \"Track\";\n    msg1.payload.name = \"Track line\";\n    \n    delete msg1.payload.radius;\n}\nreturn msg1;","outputs":1,"noerr":0,"x":644,"y":408,"wires":[["586442d1.e47d3c"]]},{"id":"90caeb7a.cdbd08","type":"function","z":"cb9a9294.2d177","name":"Convert to TrackPins","func":"var msg1 = {};\nif (msg.payload) {\n    msg1.payload=msg.payload;\n\n    msg1.payload.layer = \"Pins\";\n    msg1.payload.iconColor = \"blue\";\n    msg1.payload.name=Date().toString();\n    msg1.payload.icon = \"fa-wifi\";\n    \n    delete msg1.payload.radius;\n}\nreturn msg1;","outputs":1,"noerr":0,"x":649,"y":336,"wires":[["8279fa08.2f5ad8"]]},{"id":"5578baf2.d64c14","type":"function","z":"cb9a9294.2d177","name":"Convert to Worldmap","func":"var msg1 = {};\nif (msg.payload) {\n    msg1.payload=msg.payload;\n\n    msg1.payload.layer = \"Current Location\";\n    msg1.payload.name = \"Current Location\";\n    msg1.payload.iconColor = \"orange\";\n    msg1.payload.icon = \"wifi\";\n}\nreturn msg1;","outputs":1,"noerr":0,"x":649,"y":276,"wires":[["8279fa08.2f5ad8"]]},{"id":"566d5eee.94558","type":"switch","z":"cb9a9294.2d177","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":295,"y":333,"wires":[["a6847e22.32d7a","5578baf2.d64c14","90caeb7a.cdbd08"]]},{"id":"503ebf6d.26937","type":"ttn uplink","z":"cb9a9294.2d177","name":"WifiMacs","app":"","dev_id":"YOUR_NODE","field":"macaddress","x":127,"y":106,"wires":[["2f3ad4ac.5b896c","186ee436.0d1ddc"]]},{"id":"8279fa08.2f5ad8","type":"worldmap","z":"cb9a9294.2d177","name":"I am Here! on Worldmap","lat":"51.20520241291538","lon":"5.847977748392708","zoom":"","layer":"OSM grey","cluster":"","maxage":"12000","usermenu":"show","layers":"show","panit":"false","x":1099,"y":336,"wires":[]},{"id":"586442d1.e47d3c","type":"worldmap-tracks","z":"cb9a9294.2d177","depth":"200","name":"Map Track","x":850.5,"y":408,"wires":[["8279fa08.2f5ad8"]]},{"id":"2f3ad4ac.5b896c","type":"function","z":"cb9a9294.2d177","name":"Ask HERE Geolocation API","func":"var here_appid = \"YOUR_APPID\";\nvar here_appcode = \"YOUR_APPCODE\";\nvar dev_url = \"https://pos.api.here.com/positioning/v1/locate?app_id=\"+here_appid+\"&app_code=\"+here_appcode;\n\nvar data = {\n            \"wlan\": []\n            };\n\nif (msg.payload.mac_1) {\n\tdata[\"wlan\"][0] = {\n\t\t\t\t\"mac\": msg.payload.mac_1,\n\t\t\t\t\"powrx\": msg.payload.rssi_1\n\t\t\t\t};\n}\n\nif (msg.payload.mac_2) {\n\tdata[\"wlan\"][1] = {\n\t\t\t\t\"mac\": msg.payload.mac_2,\n\t\t\t\t\"powrx\": msg.payload.rssi_2\n\t\t\t\t};\n}\n\nif (msg.payload.mac_3) {\n\tdata[\"wlan\"][2] = {\n\t\t\t\t\"mac\": msg.payload.mac_3,\n\t\t\t\t\"powrx\": msg.payload.rssi_3\n\t\t\t\t};\n}\n\nvar msg = {\n            \"method\" : \"POST\",\n            \"url\" : dev_url,\n            \"headers\" : {\n                        \"Content-Type\": \"application/json\"\n                        },\n            \"payload\" : JSON.stringify(data)\n            };\n\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":66,"wires":[["def77807.1220d8"]]},{"id":"def77807.1220d8","type":"http request","z":"cb9a9294.2d177","name":"","method":"use","ret":"txt","url":"","tls":"","x":629,"y":106,"wires":[["bd8a229.9b76fe"]]},{"id":"bd8a229.9b76fe","type":"json","z":"cb9a9294.2d177","name":"Convert to JSON","pretty":false,"x":838,"y":106,"wires":[["53a8d0f9.54453"]]}]
